body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: rgba(186, 174, 197, 0.508);
    cursor: default;
}
.main{
    margin-top: 70px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
}
img {
    max-width: 18%;
    transform: rotate(90deg);
} 
p {
    font-size: 28px;
    color: rgb(51, 7, 56);
    text-align: center;
}
.container {
    word-break: break-word;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 6px 6px 2px 10px rgba(180, 48, 195, 0.75);
    -webkit-box-shadow: 6px 7px 5px 0px rgba(93, 48, 89, 0.226);
    -moz-box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.58);
}
.info {
    background-color: rgba(199, 179, 154, 0.192)
}
.custom-button {
    color: white;
    background-color: rgba(103, 56, 148, 0.496);
    padding: 8px 24px  8px  24px;
    font-size: 17px;
}
.custom-button:hover {
    transform: scale(1.03);
    border: none;
    transition: transform 0.3s ease-in-out;
    opacity: 0.8;
    background-color: rgba(161, 89, 161, 0.791);
    color:white;
}
.result {
    display: none; 
    font-size: 16px;
    color:  rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px 20px 10px 20px ;
    margin: auto;
    max-width: 80%;
    max-height: 200px;
    overflow-x: scroll;
}
@media screen and (max-width: 500px) {  
    img {
        min-width: 23%;
        margin-top: -30px;
    } 
    p {
        font-size: 25px;
    }
}  
@media screen and (max-width: 390px) {  
    img {
        min-width: 30%;
    } 
}  
